<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<style>
body {
	background-color: rgb(0,0,0);
	color: rgb(225,225,225);
}
</style>
</head>
<body>

Hi there,<br><br>
<span>There
	${if ($PsvData.Example.PidAmount -gt 1) {"are"} else {"is"}}
	$Example.PidAmount
	${if ($PsvData.Example.PidAmount -gt 1) {"processes"} else {"process"}}
	for
	$Example.ProcessName
</span>
<br>
This is some value passed as argument in Invoke-PsvReport.ps1: $Example.PassedByArg

<div style="color:rgb(40,40,40);font-size:small;text-align:center;">$About.Footer</div>

</body>
</html>